#root {
  margin: 0 auto;
  text-align: center;
}

.on {
  background-color: green;
}

.off {
  background-color: white;
}

.text-column {
  margin: auto;
}

.month {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  margin: 1em;
}

#headers h4 {
  margin-bottom: auto;
}

.newHabitButton {
  margin-top: 0.5em;
}

.errorMsg {
  color: red;
}

.link-btn {
  margin-top: 0.5em;
}